.moves{
    margin-top:100px;
    margin-left: 50px;
}
.move{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50px;
    min-width: 50px;
    background-color: yellow;
    margin-top: 10px;
}

.branches{
    display: flex;
}
