
.app{

}

.container{
    border-radius: 10px;

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(133, 126, 126);
    width: 940px;
    height: 900px;
}

.content{
    margin-top: 30px;
}

.loginNav{
    margin-top: 100px;
    margin-bottom: 70px;
    margin-left: 50px;
    display: flex;

}

.tab{
    cursor: pointer;
    margin-right: 50px;
}

.activeTab{
    border-bottom: 2px solid #ff503c
}

.login{
    margin-right: 16px;
}

.logo{
    width: 100px;
    height: 100px;
}
.register{
    margin-left: 50px;

}
